<form name="input" action="/store">
Please enter your name and email <input type="string" name="name" placeholder="Type your name here">
   <input type="string" name="email" placeholder="Type your email here">
<input type="submit" value="Submit">
</form>